<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="mb-4">Dobrodošli!</h1>
    <p class="lead mb-5">Izaberite koji test želite da radite:</p>

    <div class="d-flex justify-content-center gap-4">
      <button class="btn btn-outline-primary btn-lg px-5"
              (click)="routeFlanker()">
        Flanker test
      </button>

      <button class="btn btn-outline-success btn-lg px-5"
              (click)="routeVisual()">
        Test vizuelne pretrage
      </button>
    </div>
  </div>
</div>
