<!-- Padajuća lista fiksirana gore desno -->
<div class="position-fixed top-0 end-0 p-3">
  <select class="form-select form-select-sm w-auto" (change)="changeLanguage($event)">
    <option value="srp" selected>SRP</option>
    <option value="eng">ENG</option>
  </select>
</div>

<div class="container vh-100 d-flex justify-content-center align-items-center" *ngIf = "serbian">
  <div class="text-center">
    <h1 class="mb-4">Dobrodošli!</h1>
    <p class="lead mb-5">Izaberite test koji želite da radite:</p>

    <div class="d-flex justify-content-center gap-4">
      <button class="btn btn-outline-primary btn-lg px-5"
              (click)="routeFlanker($event)">
        Flanker test
      </button>

      <button class="btn btn-outline-success btn-lg px-5"
              (click)="routeVisual($event)">
        Test vizuelne pretrage
      </button>
    </div>
  </div>
</div>

<div class="container vh-100 d-flex justify-content-center align-items-center" *ngIf = "!serbian">
  <div class="text-center">
    <h1 class="mb-4">Welcome!</h1>
    <p class="lead mb-5">Select the test you would like to take:</p>

    <div class="d-flex justify-content-center gap-4">
      <button class="btn btn-outline-primary btn-lg px-5"
              (click)="routeFlanker($event)">
        Flanker test
      </button>

      <button class="btn btn-outline-success btn-lg px-5"
              (click)="routeVisual($event)">
        Visual search test
      </button>
    </div>
  </div>
</div>
