<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center bg-light shadow p-5 rounded" style="max-width: 700px;">

    <h2 class="mb-4">Saglasnost za učešće u istraživanju</h2>

    <p class="text-start">
      Pozvani ste da učestvujete u istraživanju u okviru diplomskog rada na Elektrotehničkom fakultetu u Beogradu,  koje ima za cilj da ispita kognitivne veštine kroz interakciju sa jednostavnim zadacima na računaru.
      Tokom testiranja, aplikacija će beležiti <strong>pokrete vašeg miša</strong>, <strong>klikove</strong> i <strong>vreme reakcije</strong>, u cilju analize strategija rešavanja i pažnje.
    </p>
    <p class="text-start">
      Učešće je <strong>dobrovoljno</strong>, i možete se povući u bilo kom trenutku bez ikakvih posledica.
      Prikupljeni podaci su <strong>anonimni</strong> i koristiće se isključivo u akademske i istraživačke svrhe, u okviru izrade diplomskog rada iz oblasti psihologije i računarstva.
    </p>
    <p class="text-start">
      Učešćem potvrđujete da ste informisani o cilju istraživanja, razumete uslove, i pristajete da učestvujete u testu.
    </p>

    <div class="d-flex justify-content-center gap-4 mt-4">
      <button class="btn btn-success btn-lg px-4" (click)="startTest()">
        Slažem se i želim da nastavim
      </button>
      <button class="btn btn-secondary btn-lg px-4" (click)="goBack()">
        Nazad
      </button>
    </div>

  </div>
</div>
